
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    padding-top:  15px;
}

.dropdown .dropbtn {
  color: #535bd4;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important; 
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover .dropbtn{
    color: #1dc9e3;
    background-color: transparent;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content{
    display: block;
}


.dropdown-content .subdd .subbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.subdd:hover .subbtn{
    background-color:#ddd;
    color:black
}

.sub-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left:300px;
    top:0;
}

.subdd:hover .sub-content {
    display: block;
}

.shadow {
    -webkit-box-shadow: 1px 1px 3px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    1px 1px 3px 2px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         1px 1px 3px 2px #ccc;

}
