
body {
    background: #000000;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    overflow-x: hidden;
}

/*---------------------------------------
    Typorgraphy              
-----------------------------------------*/

h1,h2,h3,h4,h5,h6,
.navbar-default, .btn {
  font-family: 'Open Sans', sans-serif;
}


h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
  letter-spacing: 1px;
}

h1 {
    color: #ffffff;
    font-size: 52px;
    letter-spacing: 2px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

h2 {
  color: #f0f0f0;
  font-size: 32px;
}

h3 {
  color: #535bd4;
  font-size: 22px;
  line-height: 32px;
  padding-bottom: 4px;
}

h4 {
  font-weight: bold;
}

p {
    color: #999;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
 

}

hr {
  border-bottom-color: #999;
  width: 100px;
}

.section-btn {
  background-color: #000;
  border: 2px solid transparent;
  border-radius: 100px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 10px 15px;
  margin-top: 15px;
  transition: all 0.4s ease-in-out;
}

.section-btn:hover {
  background: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  color: #ffffff;
}


/*---------------------------------------
    General               
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
}

a {
  color: #535bd4;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}
a:hover, a:active, a:focus {
  color: #535bd4;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #ffffff;
}

.section-title {
  position: relative;
  padding-bottom: 62px;
  text-align: center;
}

#slide,
#screenshot,
#divider,
#product,
#whychooseus {
  padding-bottom: 100px;
    padding-top: 50px;
}

#divider,
#product {
  text-align: center;
}


/*---------------------------------------
    Preloader section              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-spinner-pulse {
  width: 60px;
  height: 60px;
  background-color: #1dc9e3;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
          animation: sk-pulseScaleOut 1s infinite ease-in-out; }

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }



/*---------------------------------------
    Navigation section
-----------------------------------------*/

.navbar-default {
    background: rgba(77, 165, 254,0.3);
    border: none;
    box-shadow: none;
    margin: 0 !important;
}

.navbar-default .navbar-brand {
  color: #535bd4;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 50px;
  margin: 0;
}

.navbar-default .navbar-brand span {
  color: #1dc9e3;
}

.navbar-default .navbar-nav li a {
    color: #b2b2b2;
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding-right: 10px;
    padding-left: 10px;
}

.navbar-default .navbar-nav  a:hover {
    color: #1dc9e3;
}

/*.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #656565;
    background-color: transparent;
}*/

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #1dc9e3;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
     border: none;
     padding-top: 10px;
  }

.navbar-default .navbar-toggle .icon-bar {
    border-color: transparent;
  }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.my-navbar{
    border: 0;
    border-radius: 0;
    background: rgba(0,0,0,0.5);
}


/*---------------------------------------
    Home section              
-----------------------------------------*/

#home {
    background: url('../images/Knox/knox_1.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    /*color: #ffffff;*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    z-index: 0;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
     align-items: center;
    height: auto;
    position: relative;
    
}

#home .overlay {
  background: rgba(0, 0, 0, 0.6);
  position: relative;
  width: 100%;
  display: flex;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  
}

#home img {
  width: 100%;
  height: auto;
}

#home .home-thumb {
  padding-top: 3%;
}

#home p,
#product p {
  /*color: #f0f0f0;*/
  /*letter-spacing: 1px;*/
}

#home .section-btn {
    background: #3f3f3f;
    position: relative;
    top: 5px;
    color: #fff;}

#home .section-btn:hover {
  background: transparent !important;

  color: #fff;
}


/*---------------------------------------
   Divider section              
-----------------------------------------*/

#divider {
  background-color: #1dc9e3;
}

#divider p {
  color: #666;
  font-size: 26px;
  line-height: 42px;
}


/*---------------------------------------
   slide section              
-----------------------------------------*/
#slide{
    background: #3f3f3f;
}
#slide img {
  width: 100%;
}

#slide .slide-thumb {
  margin-bottom: 32px;
  position: relative;
  text-align: center;
}

#slide .slide-overlay h3 {
  padding-bottom: 0px;
}

#slide .slide-overlay {
  background-color: rgba(250,250,250,0.9);
  border-radius: 2px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100px;
  overflow: hidden;
  transition: height 450ms;
}

#slide .slide-thumb:hover .slide-overlay {
  height: 100%;
  background-color: #ffffff;
  color: #222;
  padding-top: 30%;
  opacity: 0.9;
}

#slide .slide-thumb:hover h4 {
  color: #1dc9e3;
}


/*---------------------------------------
    Screenshot section              
-----------------------------------------*/
#screenshot{
    background:  #3f3f3f;
}
#screenshot .col-md-3 {
  display: block;
  width: 100%;
  padding-bottom: 1rem;
}

#screenshot img {
  background-color: #ffffff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  cursor: pointer;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  top: 0px;
  transition: all 0.4s ease-in-out;
}

#screenshot img:hover {
  box-shadow: 0px 16px 22px 0px rgba(0, 0, 0, 0.3);
  top: -6px;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}


/*---------------------------------------
   whychooseus section         
-----------------------------------------*/

#whychooseus {
    background: url('../images/bg2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    /*color: #ffffff;*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    z-index: 1;
    display: flex;
    padding: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
    position: relative;
}

#whychooseus .overlay {
    background-color: rgba(0,0,0,0.7);
    position: relative;
    width: 100%;
    display: flex;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

#whychooseus .whychooseus-plan {
  background-color: #ffffff;
  border-radius: 2px;
  margin-bottom: 32px;
}

#whychooseus .whychooseus-plan .whychooseus-month {
  padding: 14px 10px 6px 10px;
}

#whychooseus .whychooseus-plan .whychooseus-month h2 {
  font-size: 52px;
  color: #1dc9e3;
}

#whychooseus .section-btn {
  background: #e8e8e8;
  position: relative;
  top: 5px;
  color: #3f3f3f;
}

#whychooseus .section-btn:hover {
  background-color: transparent;
  color: #ffff;
}


/*---------------------------------------
    product section              
-----------------------------------------*/

#product {
    background: #535bd4 url('../images/product-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    position: relative;
}

#product .overlay {
  background: rgba(0,0,0,0.8);
  opacity: 0.9;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}

#product .section-btn {
  background: #e8e8e8;
  color: #3f3f3f;
}

#product .section-btn:hover {
  background: transparent !important;
  color: #e8e8e8;
}
/*
#product .form-control {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #eee;
  border-radius: 0px;
  box-shadow: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  height: 50px;
  transition: all 0.4s ease-in-out;
  margin-bottom: 20px;
}

#product .form-control:focus {
  border-color: #ffffff;
}

#product input[type="submit"] {
  background-color: #ffffff;
  border-radius: 100px;
  border: 3px solid #ffffff;
  color: #1dc9e3;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 55px;
}

#product input[type="submit"]:hover {
  background-color: transparent;
  color: #ffffff;
}

#product .form-control::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

#product .form-control:-ms-input-placeholder {
  color: #ffffff;
}

#product .form-control::-webkit-input-placeholder {
  color: #ffffff;
}
*/

/*---------------------------------------
   Footer section              
-----------------------------------------*/

footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

footer span {
  padding-right: 10px;
  padding-left: 10px;
}

footer p {
  padding-top: 16px;
}



/*---------------------------------------
   Modal Contact           
-----------------------------------------*/
.modal-dialog .overlay{
    background: rgba(0,0,0,0.8);
    opacity: 0.9;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
}
.modal-dialog .modal-content {
  /*background:url('../images/contact2.jpg');*/
  background-color: #eee;
  background-size: 100%;
  background-repeat: repeat;
  border: none;
  border-radius: 2px;
  text-align: center;
  padding: 80px 50px 80px 50px;
  position: relative;
  overflow: hidden;
}

.btn:focus {
  outline: none;
}

.modal-header {
  border-bottom: 0px;
}

.modal-dialog .close {
  color: #ffffff;
  font-size: 45px;
  font-weight: 300;
  text-shadow: none;
  opacity: 1;
  position: absolute;
  top: 40px;
  right: 40px;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.modal-dialog .close:focus {
  outline: none;
}

.modal-dialog .modal-title {
  color: #ffffff;
}

.modal-dialog form {
  padding: 20px;
}

.modal-dialog form input {
  height: 50px;
}

.modal-dialog .form-control {
  background: transparent;
  border: 1px solid #f0f0f0;
  border-radius: 0px;
  box-shadow: none;
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 20px;
  transition: all 0.4s ease-in-out;
}

.modal-dialog .form-control:focus {
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #ffffff;
}

.modal-dialog form input[type="submit"] {
  background: #1dc9e3;
  border: 3px solid transparent;
  border-radius: 100px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 30px;
}

.modal-dialog form input[type="submit"]:hover {
  background: transparent;
  border-color: #1dc9e3;
  color: #ffffff;
}

.modal-dialog .form-control::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.modal-dialog .form-control:-ms-input-placeholder {
  color: #ffffff;
}
.modal-dialog .form-control::-webkit-input-placeholder {
  color: #ffffff;
}

.modal.fade .modal-dialog{
  -webkit-perspective: 1300px;
     -moz-perspective: 1300px;
          perspective: 1300px;
}

.modal.fade .modal-content{
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(-3000px) rotateY(90deg);
     -moz-transform: translateZ(-3000px) rotateY(90deg);
      -ms-transform: translateZ(-3000px) rotateY(90deg);
          transform: translateZ(-3000px) rotateY(90deg);
  opacity: 0;
}

.modal.fade.in .modal-content{
    -webkit-animation: slit .7s forwards ease-out;
    -moz-animation: slit .7s forwards ease-out;
    animation: slit .7s forwards ease-out;
}

@-webkit-keyframes slit {
  50% { -webkit-transform: translateZ(-250px) rotateY(60deg); opacity: .5; -webkit-animation-timing-function: ease-out;}
  100% { -webkit-transform: translateZ(0) rotateY(0deg); opacity: 1; }
}

@-moz-keyframes slit {
  50% { -moz-transform: translateZ(-250px) rotateY(60deg); opacity: .5; -moz-animation-timing-function: ease-out;}
  100% { -moz-transform: translateZ(0) rotateY(0deg); opacity: 1; }
}

@keyframes slit {
  50% { transform: translateZ(-250px) rotateY(60deg); opacity: 1; animation-timing-function: ease-in;}
  100% { transform: translateZ(0) rotateY(0deg); opacity: 1; }
}


/*---------------------------------------
   Social icon             
-----------------------------------------*/

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    color: #666;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 0px;
    margin: 10px 4px 0px 4px;
}

.social-icon li a:hover {
    background: #1dc9e3;
    color: #ffffff;
    top: -5px;
}

/*---------------------------------------
   Back top         
-----------------------------------------*/

.go-top {
  background-color: #ffffff;
  box-shadow: 1px 1.732px 12px 0px rgba( 0, 0, 0, .14 ), 1px 1.732px 3px 0px rgba( 0, 0, 0, .12 );
  border-radius: 100px;
  transition : all 1s ease;
  bottom: 2em;
  right: 2em;
  color: #333;
  font-size: 22px;
  display: none;
  position: fixed;
  text-decoration: none;
  width: 35px;
  height: 35px;
  line-height: 30px;
  text-align: center;
  z-index: 999;
}

.go-top:hover {
    background: #535bd4;
    color: #ffffff;
}
h1 {
    font-size: 50px;
  }

h2 {
	font-size: 40px;
}
p{
	font-size: 16px;
}

/*---------------------------------------
   Mobile Responsive         
-----------------------------------------*/
@media (max-width: 1200px) {
  .container {
  width: 100%;
  }
}

@media (max-width: 980px) {

  h1 {
    font-size: 38px;
  }
	h2 {
		font-size: 30px;
	}
  .section-btn {
    padding: 10px 34px 12px;
  }
  #slide {
    text-align: center;
  }

  #slide .slide-thumb {
    margin-top: 62px;
  }

}

@media (max-width: 768px) {

  h1 {
    font-size: 28px;
  }
	h2 {
		font-size: 25px;
	}

  .section-title {
    padding-bottom: 32px;
  }

  #slide, #divider,
  #screenshot,
  #whychooseus, #product {
/*    padding-top: 60px;
    padding-bottom: 60px;
*/  }

}



@media (max-width: 767px) {

   body {
    padding-top: 0px;
    text-align: center;
  }

  .navbar-default {
    text-align: center;
    padding-top: 0px;
  }

  .navbar-default .navbar-brand {
    line-height: 20px;
  }

  .navbar-default .navbar-nav li a {
    line-height: 25px;
  }

  #whychooseus .whychooseus-plan {
    margin-bottom: 62px;
  }

}
@media (max-width: 650px) {

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

}

/*-------Animation Image----*/
.session-img {
  margin:0 auto;
  position: relative;
}
.session-img > img{
  opacity: 1;
  display: block;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}
.img-overlay{

}
.session-img {
  position: relative;
  overflow: hidden;
}
.overlay-color{
  display:inline-block;
  position: relative;
}
.overlay-color:after {
  content:'';
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  transition: 1s ease;
  display: block;
  position: absolute;
  background: black;
  opacity: 0;
}
.overlay-color:hover:after {
  opacity: .4;
}
 .session-img > img{
  opacity: 1;
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  transition: 0.7s ease;
  -webkit-box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.43); 
  box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.43);
}
 .session-img:hover img{
  opacity: 1;
  width: 82%;
  transform: translate(0px,-20px);
  -webkit-box-shadow: 0px 15px 9px 7px rgba(0,0,0,0.35); 
  box-shadow: 0px 15px 9px 7px rgba(0,0,0,0.35);
}
/*Animation*/
.texth1{
  color: white;
  letter-spacing: 8px;
  margin-bottom: 20px;
  position: relative;
  animation: text 3s 1;
}
@keyframes text {
  0%{margin-bottom: -40px;}
  30%{letter-spacing: 25px; margin-bottom: -40px;}
  85%{letter-spacing: 8px;}
}
.bgwhite{
  background-color: #fff;
}
.bgwhite > .section-title > h1,.bgwhite > .section-title > p{
  color: #1a1a1a; 
}

.bgblack{
  background-color: black;
  text-align: center;
}
.fwhite, .fwhite h1 , .fwhite h2 ,.fwhite h3, .fwhite h4, .fwhite h5, .fwhite p{
    color: #ffffff;
}
.fblack h1, .fblack h2, .fblack h3, .fblack h4, .fblack h5, .fblack p {
    color:#444;
}
/*Tabs*/
.tab {
    overflow: hidden;
    
}
.tab button{
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tab button:hover {
    background-color: transparent;
    color: #fff;
    text-decoration: underline;
    border: none !important;
}

.tab button.active {
    background-color: transparent;
    color: #fff;
    text-decoration: underline;
    border: none !important;;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.tab2 {
    overflow: hidden;
    
}
.tab2 button{
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tab2 button:hover {
    background-color: transparent;
    color: blue;
    text-decoration: underline;
    border: none !important;
}

.tab2 button.active {
    background-color: transparent;
    color: blue;
    text-decoration: underline;
    border: none !important;;
}
.center{
  text-align: center;
}
.right{
  text-align: right;
}

/*---------------------------------------
    landing section              
-----------------------------------------*/
